* {
  border: none;
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background: rgba(12, 12, 12, 0.95);
  color: white;
  padding: 4px 10px;
}

#clock {
  padding: 0 16px;
  font-weight: bold;
  color: #72dde0;
}

#battery,
#network,
#bluetooth,
#backlight,
#custom-wlogout {
  padding: 4px 10px;
  margin: 0 4px;
  border-radius: 6px;
  background-color: rgba(255, 0, 0, 0.08);
}

#battery:hover,
#network:hover,
#bluetooth:hover,
#backlight:hover,
#custom-wlogout:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

#workspaces {
  margin-right: 10px;
}

#workspaces button {
  padding: 4px 8px;
  margin: 0 4px;
  border-radius: 5px;
  background: transparent;
  color: white;
}

#workspaces button.active {
  background-color: rgba(255, 255, 255, 0.25);
}

#workspaces button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

#pulseaudio {
  padding: 4px 10px;
  margin: 0 4px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.08);
  color: #fff;
}

#pulseaudio:hover{
  background-color: rgba(255, 255, 255, 0.2);
}
