/* * {
	background-image: none;
	box-shadow: none;
	font-family: "JetBrainsMono Nerd Font";
	font-size: 16px;
}

window {
	background-color: rgba(12, 12, 12, 0.9);
}

button {
	border-radius: 10px;
	border-color: #000000;
	color: #FFFFFF;
	background-color: #1E1E1E;
	border-style: solid;
	border-width: 1px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
	padding: 20px;
	margin: 10px;
	transition: all 0.2s ease-in-out;
}

button:focus, button:active, button:hover {
	background-color: #3700B3;
	transform: scale(1.05);
	box-shadow: 0px 0px 8px #3700B3;
}

#lock {
    background-image: image(url("$HOME/.config/wlogout/icons/lock.png"), url("/usr/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("$HOME/.config/wlogout/icons/logout.png"), url("/usr/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("$HOME/.config/wlogout/icons/suspend.png"), url("/usr/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("$HOME/.config/wlogout/icons/hibernate.png"), url("/usr/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("$HOME/.config/wlogout/icons/shutdown.png"), url("/usr/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("$HOME/.config/wlogout/icons/reboot.png"), url("/usr/share/wlogout/icons/reboot.png"));
} */


/* 
* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(12, 12, 12, 0.9);
}

button {
    border-radius: 18px;
	font-size: large;
	min-width: 150px;
	min-height: 100px;
    border-color: black;
	text-decoration-color: #FFFFFF;
    color: #FFFFFF;
	margin: 10px;
    padding: 60px;

	background-color: #1E1E1E;
	border-style: solid;
	border-width: 1px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 30%;
	transition: all 0.2s ease-in-out;
}

button:focus,
button:active,
button:hover {
    background-color: #5b22b6;
    color: #ffffff;
    border-color: #b4a9ff;
    box-shadow: 0 0 10px 2px rgba(180, 169, 255, 0.3);
    outline: none;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
} */


/* past lovenish to future lovenish this one is updated css!! */

* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(12, 12, 12, 0.9);
}

button {
    border-radius: 18px;
	/* font-size: large; */
	min-width: 150px;
	min-height: 100px;
    border-color: black;
	text-decoration-color: #FFFFFF;
    color: #FFFFFF;
	margin: 10px;
    padding: 60px;

	background-color: #1E1E1E;
	border-style: solid;
	border-width: 1px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 30%;
	transition: all 0.2s ease-in-out;
}

/* button:focus, */
button:active,
button:hover {
    background-color: #5b22b6;
    color: #ffffff;
    border-color: #b4a9ff;
    box-shadow: 0 0 10px 2px rgba(180, 169, 255, 0.3);
    outline: none;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}
